<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="lib/sweetalert.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="ss/style.min.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Admin Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="-zPorRaTHg6rjX6ObU8evfiG-TAA3xZlFbwzHkdRKGs" />
</head>

<body ng-app="aBMain" class="aB">
    <div class="container container-fluid">
        <div class="row" ng-controller="mainCtrl as mC">
            <div class="col-md-12">
              <!-- HEADER START -->
                <div class="header row" ng-show="vHeader">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="btn btn-default" ng-click="abGoTo('/projects')" type="button"><i class="glyphicon glyphicon-open"></i> Projects</button>
                                <button class="settingsButton btn btn-default" ng-show="isInPath('/project/')" ng-class="{active: eShow}" ng-click="contentSwitch(true)" type="button"><i class="glyphicon glyphicon-export"></i>Export</button>
                            </div>
                            <div class="col-sm-4 text-center">
                              <img class="mainLogo" src="img/small-ab.png" alt="" />
                                <span class="mainTitle">Admin Builder</span>
                            </div
>                            <div class=" col-sm-4 text-right">
                              <button class="settingsButton btn btn-default" ng-class="{active: sShow}" ng-click="abGoTo('/account')" type="button"><i class="glyphicon glyphicon-user"></i>My Account</button>
                                <button class="settingsButton btn btn-default" ng-click="logOut()" type="button"><i class="glyphicon glyphicon-off"></i> Log Out</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HEADER END -->

                <div ng-view class="mainContainer content"></div>

            </div>
            <!-- PRELOADING OVERLAY START -->
            <div ng-show="loadingOverlay" class="loadingOverlay">
                <div class="midC">
                    Loading... <img src="img/ajax-loader.gif" alt="Loading gif" />

                </div>
            </div>
            <!-- PRELOADING OVERLAY END -->



        </div>
    </div>

    <!-- Google analytics code start -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82272437-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Google analytics code END -->

    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>

    <script type="text/javascript" src="lib/ui-bootstrap-tpls-1.2.5.min.js"></script>
    <script type="text/javascript" src="lib/angular-animate.js"></script>
    <script type="text/javascript" src="lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="lib/ngStorage.min.js"></script>
    <script type="text/javascript" src="lib/sweetalert.min.js"></script>
    <script type="text/javascript" src="ss/script.min.js"></script>
</body>

</html>
