<div class="login-page">
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Login to Admin Builder</h1>
        <form name="loginForm">
            <div class="mainBox">
                <p>
                    <label for="basic-url">Email</label>
                    <input type="text" ng-model="lEmail" ng-pattern="regexMail" ng-change="changeValidity(loginForm.loginEmail)" name="loginEmail" ng-enter="abLogin()" class="form-control" id="basic-url" aria-describedby="basic-addon3" autocomplete="off" />
                </p>
                <p>
                    <label for="basic-url">Password</label>
                    <input type="password" name="loginPassword" ng-change="changeValidity(loginForm.loginPassword)" ng-enter="abLogin()" ng-model="lPassword" class="form-control" id="basic-url" aria-describedby="basic-addon3" autocomplete="off" />
                </p>

                <p>
                    <button type="button" name="button" class="btn btn-primary" ng-click="abLogin()">Login</button>
                </p>
                <p>
                    Forgot Your password?
                    <br/> <b><a href="#/resetPassword">Reset Password</a></b>
                </p>

                <p>
                    Don't have an account?
                    <br/>
                    <button type="button" class="btn btn-info" name="button" ng-click="abGoTo('register')">Register</button>

                </p>
            </div>

        </form>
    </div>
</div>
