<div class="col-md-12 text-center">
    <h1>Reset Your Password</h1>
    <div class="mainBox">
        <form name="resetPassword" novalidate>
          <p>
            Forgot your password? Enter your email address for the account you have to reset it.
          </p>
            <p>
                <label for="basic-url">Email</label>
                <input type="text" name="lEmail" ng-enter="resetPassword()" ng-change="changeValidity(resetPassword.lEmail)" ng-model="lEmail" ng-pattern="regexMail" class="form-control" id="basic-url" aria-describedby="basic-addon3" autocomplete="off" placeholder="Your email address">
            </p>
            <p>
                <label for="basic-url">NEW Password</label>
                <input type="password" name="lPassword" ng-enter="resetPassword()" ng-model="lPassword" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-change="validatePass(false)" placeholder="New Password" autocomplete="off"/>
            </p>
            <p>
            <label for="basic-url">NEW Password (again)</label>
            <input type="password" name="lPassword2" ng-enter="resetPassword()" ng-model="lPassword2" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-change="validatePass(false)" placeholder="Repeat New Password" autocomplete="off"/>
            </p>
            <p>
                <button type="button" class="btn btn-primary" name="button" ng-click="abResetPassword()">Reset</button>
            </p>
            <p>
                <a href="#/login">Go back to Login</a>
            </p>
        </form>
    </div>
    <p>
        {{testResponse}}
    </p>
</div>
